:root {
  /*----------color variables----------*/

  --color-darker: #292a2c;
  --color-dark: #96aeed;

  --color-light: #f2f2f2;
  --color-lighter: #fff;

  --color-accent1: #f40575;
  --color-accent2: #6287e5;

  /*----------font variables----------*/
  --font: "Poppins", sans-serif;
  --font-weight-headline: 700;
  --font-weight-paragraph: 400;
}

/*----------general rules----------*/

html {
  scroll-behavior: smooth;
  scroll-padding-top: 140px;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
}

* {
  list-style: none;
  box-sizing: border-box;
  overflow-wrap: break-word;
  font-family: var(--font);
}

/* main {
  padding: 1rem;
} */

.text,
.family_text,
.school_text {
  /* text-align: center; */
  margin: auto;
  max-width: 50ch;
}

a {
  text-decoration: none;
  color: var(--color-darker);
  text-align: center;
  transition: 0.5s ease-out;
}

a:hover {
  transform: scale(1.05);
}

.space {
  margin-block-end: 5rem;
}

/* main {
  display: grid;
  grid-template-columns: auto minmax(0, 1000px) auto;
}
 */
/* img {
  object-fit: cover;
  max-width: 100%;
  display: block;
} */

/*----------typography----------*/

p {
  margin-bottom: 1rem;
  font-weight: var(--font-weight-paragraph);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(--font);
  font-weight: var(--font-weight-headline);
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
  margin-top: 0;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.2rem;
  margin-top: 1rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

.big {
  font-size: 9rem;
  font-weight: var(--font-weight-headline);
  text-align: center;
  margin: 0;
}

/*----------navigation----------*/

.navbar {
  position: sticky;
  top: 0;
  background-color: var(--color-lighter);
  padding: 1rem 1.5rem;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.nav_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  position: fixed;

  top: 56px;
  width: 100%;
  text-align: center;
  padding-inline: 1rem;
  padding-block: 3rem;
  background-color: var(--color-darker);
  opacity: 0;
  left: -100%;
  transition: 0.3s;
}

.nav_item {
  list-style: none;
}

.nav_link {
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--color-lighter);

  background-image: linear-gradient(var(--color-accent2), var(--color-accent2));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 0.05em;
  transition: 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  transition-property: all;
  transition-property: background-size, color;
  padding-bottom: 0.2em;
}

.nav_link:hover {
  /*hover animation*/
  background-image: linear-gradient(var(--color-accent2), var(--color-accent2));
  background-size: 100% 0.05em;
}

.nav_menu.active {
  left: 0;
  opacity: 1;
}

.logo {
  width: 150px;
}

/*-------------hamburger menu------------*/

.hamburger {
  display: block;
  margin-left: 0;
  cursor: pointer;
}

/*hide the middle bar when active*/

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

/*rotate the first and last bar*/

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
  background-color: var(--color-darker);
}

/*----------header----------*/

.header_wrapper,
.section_wrapper {
  display: grid;
  grid-template-columns: auto minmax(0, 1200px) auto;

  align-items: center;
  justify-content: center;
}

header {
  display: grid;
  grid-column: 2/3;
  justify-items: center;
  gap: 1rem;
  padding: 2rem;
  /* margin-block-start: 5rem;*/
  margin-block-end: 3rem;
}

.illustration {
  max-height: 46vh;
  margin: auto;
}

/*----------sections----------*/

.blue {
  background-color: var(--color-dark);
}

#intro,
#why,
#deals,
#family,
#school {
  grid-column: 2/3;

  padding-inline: 2rem;
  padding-block: 1rem;
  margin-block: 5rem;
}

.number_container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.wave {
  margin: auto;
}

.counts {
  margin-top: 100vh;
}

.right {
  transform: translateX(100%);
  opacity: 0;
}

.left {
  transform: translate(-100%);
  opacity: 0;
}

/*----------why section----------*/

#why {
  opacity: 0;
}

#why,
#deals,
.family_text,
.school_text {
  margin: auto;
  margin-block-start: 5rem;
  margin-block-end: 4rem;
}

.school_text {
  margin-block-start: 0;
}

ul > li {
  margin-bottom: 1rem;
}

#why,
#deals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*----------deals section----------*/

.grey {
  background-color: var(--color-light);
}

#deals,
.horizontal_wave {
  text-align: center;
}

.horizontal_wave {
  margin-block: 1.5rem;
}

/*----------family + school section----------*/

.family_text,
.school_text {
  max-width: 50ch;
  opacity: 0;
}

article {
  text-align: center;
  margin-block: 5rem;
}

article > img {
  max-height: 10vh;
}

.cta_button {
  margin: 0;
}

.family_button {
  background-color: var(--color-accent1);
}

.school_button {
  background-color: var(--color-accent2);
}

.family_button:hover,
.school_button:hover {
  background-color: var(--color-darker);
  transition: 0.5s ease-in-out;
}

.button_wrapper {
  text-align: center;
}

button {
  border: none;
  padding: 0.7rem 3rem;
  color: var(--color-lighter);
  font-family: var(--font);
  font-weight: var(--font-weight-headline);
  font-size: 1.2rem;
  cursor: pointer;
}

/*----------footer----------*/
footer {
  background-color: var(--color-darker);
  color: var(--color-lighter);
  padding: 2rem;
  text-align: center;
}

/*----------media querys----------*/

@media (min-width: 810px) {
  .navbar {
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto;
  }

  .nav_menu {
    top: 88px;
    margin: 0;

    justify-content: center;
    align-items: center;
  }

  header,
  #intro,
  .packages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 2rem;
  }

  header {
    min-height: 60vh;
    gap: 2.5rem;
  }

  .illustration {
    max-height: 40vh;
  }

  #intro,
  #why {
    height: 40vh;
  }

  .big {
    font-size: 8rem;
  }

  article > img {
    max-height: 7vh;
  }

  #why,
  #deals,
  .family_text,
  .school_text {
    margin-block-end: 2rem;
  }

  .packages {
    gap: 5rem;
  }

  .ikon_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  article {
    margin-block: 3rem;
  }

  #intro,
  #why,
  #deals,
  #family,
  #school {
    margin-block: 3rem;
  }
}

@media (min-width: 1000px) {
  .illustration {
    max-height: 70vh;
  }

  header {
    gap: 1.5rem;
    min-height: 90vh;
  }

  .header_wrapper {
    margin-block-end: 5rem;
  }

  #intro,
  #deals {
    height: 70vh;
  }

  #why {
    height: 60vh;
  }

  #why,
  #deals,
  .family_text,
  .school_text {
    margin-block: 5rem;
  }

  .school_text {
    margin-block-start: 0;
  }

  .horizontal_wave {
    margin-block: 5rem;
  }

  #school {
    margin-block-end: 5rem;
  }
}

@media (min-width: 1200px) {
  .nav_menu {
    height: 100%;
  }

  h1 {
    font-size: 4.052rem;
  }
}

@media (min-width: 1366px) {
  /*   #intro,
  .why,
  .deals {
    height: 50vh;
  } */
}

@media (min-width: 1536px) {
}
