:root {
  /*----------color variables----------*/

  --color-darker: #292a2c;
  --color-dark: #96aeed;

  --color-light: #f2f2f2;
  --color-lighter: #fff;

  --color-accent1: #f40575;
  --color-accent2: #6287e5;

  /*----------font variables----------*/
  --font: "Poppins", sans-serif;
  --font-weight-headline: 700;
  --font-weight-paragraph: 400;
}

/*----------general rules----------*/

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
}

* {
  list-style: none;
  box-sizing: border-box;
  overflow-wrap: break-word;
  font-family: var(--font);
}

/* main {
  padding: 1rem;
} */

.text {
  text-align: center;
  margin: auto;
}

/* main {
  display: grid;
  grid-template-columns: auto minmax(0, 1000px) auto;
}
 */
/* img {
  object-fit: cover;
  max-width: 100%;
  display: block;
} */

/*----------typography----------*/

p {
  margin-bottom: 1rem;
  font-weight: var(--font-weight-paragraph);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(--font);
  font-weight: var(--font-weight-headline);
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
  margin-top: 0;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

.big {
  font-size: 10rem;
  font-weight: var(--font-weight-headline);
  text-align: center;
  margin: 0;
}

/*----------navigation----------*/

.navbar {
  position: sticky;
  top: 0;
  background-color: var(--color-lighter);
  padding: 1rem 1.5rem;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.nav_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  position: fixed;

  top: 56px;
  width: 100%;
  text-align: center;
  padding-inline: 1rem;
  padding-block: 3rem;
  background-color: var(--color-darker);
  opacity: 0;
  left: -100%;
  transition: 0.3s;
}

.nav_item {
  list-style: none;
}

.nav_link {
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--color-lighter);
  transition: 0.7s ease;
}

.nav_menu.active {
  left: 0;
  opacity: 1;
}

.logo {
  width: 150px;
}

/*-------------hamburger menu------------*/

.hamburger {
  display: block;
  margin-left: 0;
  cursor: pointer;
}

/*hide the middle bar when active*/

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

/*rotate the first and last bar*/

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
  background-color: var(--color-darker);
}

@media (min-width: 810px) {
  .navbar {
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto;
  }

  .nav_menu {
    top: 100px;
    margin: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}

/*----------header----------*/

.header_wrapper,
.section_wrapper {
  display: grid;
  grid-template-columns: auto minmax(0, 1000px) auto;

  align-items: center;
  justify-content: center;
}

.header_wrapper {
  min-height: 80vh;
}

header {
  display: grid;
  grid-column: 2/3;
  justify-items: center;
  gap: 1rem;
  padding-inline: 1rem;
  /* margin-block-start: 5rem;
  margin-block-end: 3rem; */
}

.illustration {
  max-height: 50vh;
}

/*----------intro section----------*/

.section_wrapper {
  background-color: var(--color-dark);
}

.intro {
  grid-column: 2/3;

  padding-inline: 1rem;
  padding-block: 1rem;
  margin-block: 5rem;
}

.number {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.wave {
  margin: auto;
}

/*----------media querys----------*/

@media (min-width: 810px) {
  header,
  .intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 2rem;
  }

  .illustration {
    max-height: 40vh;
  }

  .intro {
    height: 40vh;
  }

  .big {
    font-size: 8rem;
  }
}

@media (min-width: 1000px) {
  .illustration {
    max-height: 60vh;
  }
}
